<div class="container">
    <p>task-view works!</p>
    <div class="centered-content">
        <div class="task-manager-container">
            <div class="sidebar">
                <div class="title has-text-primary">
                    <h1>Lists</h1>
                    <div class="list-menu">
                        <a
                        [routerLink]="['/lists', list._id, 'tasks']"
                        routerLinkActive="active"
                        class="list-menu-item" *ngFor="let list of lists" >
                            <p class="white-text">
                                <!-- List 1 -->
                                {{list.title}}
                                <span class="pull-right task-delete" (click)="deleteList(list)" >X</span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <button routerLink='/new-list'>Add List</button>
        </div>
        <div class="task-list-container">
            <h1>Tasks</h1>
            <div class="task" [class.complete]="task.completed" *ngFor="let task of tasks" (click)="onTaskClick(task)" >
                <p class="white-text">
                    <!-- Task -->
                    {{task.title}}
                    <span class="pull-right task-delete" (click)="deleteTask(task)" >X</span>
                </p>
            </div>
            <button (click)="addTaskClick()">Add Task</button>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="manager-container">
        <section class="lists lists-container">
            <h1>Lists</h1>
            <ul class="list-group">
                <li class="list-item">
                    List #1
                    <span class="delete-icon">X</span>
                </li>
                <li class="list-item">
                    List #2
                    <span class="delete-icon">X</span>
                </li>
                <li class="list-item">
                    List #3
                    <span class="delete-icon">X</span>
                </li>
            </ul>
        </section>
        <section class="tasks lists-container">
            <h1>Tasks</h1>
            <ul class="list-group">
                <li class="list-item">
                    Task #1
                    <span class="delete-icon">X</span>
                </li>
                <li class="list-item">
                    Task #2
                    <span class="delete-icon">X</span>
                </li>
                <li class="list-item">
                    Task #3
                    <span class="delete-icon">X</span>
                </li>
            </ul>
        </section>
    </div>
</div>