<!-- <div class="container">
    <p>task-view works!</p>
    <div class="centered-content">
        <div class="task-manager-container">
            <div class="sidebar">
                <div class="title has-text-primary">
                    <h1>Lists</h1>
                    <div class="list-menu">
                        <a
                        [routerLink]="['/lists', list._id, 'tasks']"
                        routerLinkActive="active"
                        class="list-menu-item" *ngFor="let list of lists" >
                            <p class="white-text">
                                {{list.title}}
                                <span class="pull-right task-delete" (click)="deleteList(list)" >X</span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <button routerLink='/new-list'>Add List</button>
        </div>
        <div class="task-list-container">
            <h1>Tasks</h1>
            <div class="task" [class.complete]="task.completed" *ngFor="let task of tasks" (click)="onTaskClick(task)" >
                <p class="white-text">
                    {{task.title}}
                    <span class="pull-right task-delete" (click)="deleteTask(task)" >X</span>
                </p>
            </div>
            <button (click)="addTaskClick()">Add Task</button>
        </div>
    </div>
</div> -->
<!-- <hr> -->
<div class="container">
    <div class="manager-container">
        <section class="lists lists-container">
            <div class="list-container-top text-center">
                <h1>Lists</h1>
                <button class="btn btn-primary btn-sm"routerLink='/new-list'>+ Add List</button>
            </div>

            <ul class="list-group">
                <li class="list-item"[routerLink]="['/lists', list._id, 'tasks']"
                routerLinkActive="active"
                *ngFor="let list of lists">
                    {{list.title}}
                    <span class="delete-icon">X</span>
                </li>
            </ul>
        </section>

        <section class="tasks lists-container">
            <div class="tasks-container-top text-center">
                <h1>Tasks</h1>
                <button class="btn btn-primary btn-sm" (click)="addTaskClick()">+ Add Task</button>
                <p class="my-3" *ngIf="tasks.length === 0">No tasks found in this list</p>
            </div>
            <ul class="list-group">
                <li class="list-item" [class.complete]="task.completed" *ngFor="let task of tasks" (click)="onTaskClick(task)" >
                    {{task.title}}
                    <span class="delete-icon">X</span>
                </li>
            </ul>
        </section>
    </div>
</div>