.my-btn{
    border-radius: 4px;
    vertical-align: top;
    font-size: .8rem;
    padding: 5px 8px;
    border: none;
    outline: none;
    letter-spacing: 1px;
}

input{
    letter-spacing: 1px;
    border-radius: 4px;
    
    padding: 3px 8px;
    border: none;
    outline: none;
}